{{- $override := index .Params "time-to-read" -}}
{{- $minutes := or (and $override (int $override)) .ReadingTime -}}

<p>
  <small>
    {{ .Date.Format "January 2, 2006" }}
    <span class="stretched-link position-relative reading-time text-nowrap" title="Estimated reading time">
      <svg class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1018 0A9 9 0 003 12"/><path d="M12 7v5l3 3"/></svg>
      {{ $minutes }}&nbsp;{{ cond (eq $minutes 1) "minute" "minutes" }}
    </span>
  </small>
  </p>


